#dashboard .rs-nav-item a{
    color: white!important;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#dashboard .rs-nav-item a:hover{
    color: rgb(180, 88, 96)!important;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
#dashboard .rs-nav-item-active{
    color: rgb(180, 88, 96)!important;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#dashboard .rs-nav-subtle .rs-nav-horizontal .rs-nav-item>.rs-nav-item-content:before a{
    color: rgb(180, 88, 96)!important;
}
