body {
    background-image: url("/defaults/background.jpg");
}

.rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child){
    margin-bottom:0!important;
}

form{
    margin-block-end: 0;
}

.rs-carousel-slider-after{
    z-index: -100;
}
